#content {max-width: 1600px; 
    margin: 0 auto;}
   
header {background-color: steelblue; 
    color: rgb(0, 0, 0); 
    display: grid;
    grid-template-columns: 150px auto;}

.logo {width: 90px;}

nav a { 
    text-align: center; 
    color: #fcfbfb;
    text-decoration: none; 
    padding: 15px;
    background-color: steelblue; 
    color: #000;} 

nav {display: flex;
        justify-content: space-around;}

nav a:hover {background-color: rgb(128, 174, 212); 
    color: rgb(0, 0, 0);}

.home-grid {
    background-color: rgb(243, 236, 236);
    padding-top: 30px;
    padding-bottom: 100px;}


.idaho {display: grid;
    grid-template-columns: 1fr, 1fr;
    grid-template-rows: 1fr;
    padding: 30px;}
.title1 {grid-column: 1/2;
    grid-row: 1/2;
    text-align: justify;
    align-self: top;
    font-size: 35px;
    padding-bottom: 10px;}
.text1 {grid-column: 1/2;
    grid-row: 1/2;
    text-align: left;
    align-self: top;
    font-size: 30px;
    padding-top: 40px}
.salmon-img {grid-column: 2/3;
    width: 100%;
  }

.utah {display: grid;
    grid-template-columns: 1fr, 1fr;
    grid-template-rows: 1fr;
    padding: 30px;}
.title2 {grid-column: 2/3;
    grid-row: 1/2;
    text-align: right;
    align-self: top;
    font-size: 35px;
    padding-bottom: 10px;}
.desolation-img {grid-column: 1/2;
    width: 100%;}
.text2{grid-column: 2/3;
    grid-row: 1/2;
    text-align: right;
    align-self: top;
    font-size: 30px;
    padding-top: 40px}

.arizona {display: grid;
    grid-template-columns: 1fr, 1fr;
    grid-template-rows: 1fr;
    padding: 30px;}
.title3 {grid-column: 1/2;
    grid-row: 1/2;
    text-align: justify;
    align-self: top;
    font-size: 35px;
    padding-bottom: 10px;}
.canyon-img {grid-column: 2/3;
    width: 100%;}
.text3 {grid-column: 1/2;
    grid-row: 1/2;
    text-align: left;
    align-self: top;
    font-size: 30px;
    padding-top: 40px;
    }

footer {background-color: rgb(209, 185, 209); 
    color: rgb(146, 179, 179); 
    padding: 20px;
    margin-top: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    justify-content: space-around;
    align-items: center;}

h4 {font-size: 30px;
    color: #000;
    text-align: center;
    align-self: end;
    grid-column: 3/4;
    grid-row: 1/2;}

.social { grid-column: 1/2;
    text-align: left;
    align-self: bottom;}

.copy {grid-column: 2/3;
    grid-row: 1/2;
    text-align: auto;
    color: blue;
    align-self: bottom  ;
    }

.faqs {grid-column: 3/4;}

footer a:hover {background-color: rgb(182, 218, 206); 
    color: black;}